<!doctype html>
<html lang="en">
  <head>
      <title>Synchronik</title>
      <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css"/>
      <script src="/static/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </head>

  <body class="text-center">
    {{> _navbar }}

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div class="row">
            <div class="col col-sm-2">
                <table class="table table-striped">
                    <thead>
                        <td>Agents</td>
                    </thead>
                    {{#each agents}}
                        <tr>
                            <td>
                                {{this}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col col-lg">
                <main role="main" class="inner cover"> <div id="projects">
                        <table class="table table-dark table-striped">
                            <thead>
                            <td>
                                <strong>Name</strong>
                            </td>
                            <td>
                                <strong>Description</strong>
                            </td>
                            <td>
                                <strong>Actions</strong>
                            </td>
                            </thead>
                        {{#each projects}}
                            <tr>
                                <td>
                                    <a class="text-reset" href="/project/{{this.name}}"><strong>{{this.name}}</strong></a>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <form method="POST" action="/api/v1/projects/{{this.name}}">
                                        <input type="hidden" name="next" value="/project/{{this.name}}"/>
                                        <input type="image" title="Execute" value="Execute" src="/static/icons/actions/view-refresh.svg"/>
                                    </form>
                                </td>
                            </tr>
                        {{/each}}
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </div>
  </body>
</html>


